html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

* a { text-decoration: none; }

body { background-color: #8290B9; }

header {
	width: 100%;
	padding-top: 10px;
	border: 1px solid #435897;
	color: #fff;
	background-color: #435897;
	font-size: 35px;
	font-weight: 100;
	text-align: center;
}

/* login form styling */

.wrap-content {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	width: 58%;
	padding: 30px;
	border: 1px solid #435897;
	border-radius: 15px;
	margin: 36 auto;
	background-color: #435897;
	text-align: center;
}

.content {
	width: 100%;
	margin: 36 auto;
}

.wrapper {
	width: 98%;
	max-width: 1024px;
	margin: 0 auto;
}

.content h1 {
	margin: 20px 0;
	color:#fff;
	font-size: 35px;
	font-weight: 700;
	text-transform: uppercase;
}

.form-group { margin-bottom: 20px; }

.content label {
	margin-bottom: 10px;
	/*margin-left: 18%;*/
	display: block;
	font-size: 25px;
	font-weight: 700;
	color: #fff;
	text-align: left;
}

input[type="text"],[type="password"] {
	padding: 2px;
	border: 2px solid #8290B9;
	font-size: 17px;
	font-weight: 100;
	float: right;
}

input[type="text"]:focus { background-color: #8290B9; }

input[type="password"]:focus { background-color: #8290B9; }

input[type="submit"] {
	color: #fff;
	padding: 5px;
	border: 2px solid #8290B9;
	border-radius: 5px;
	background-color: #8290B9;
	font-size: 23px;
	font-weight: 700;
}

footer {
	width: 98%;
	padding: 10px;
	border: 1px solid #435897;
	color: #fff;
	background-color: #435897;
	font-size: 35px;
	font-weight: 100;
	text-transform: uppercase;
	text-align: center;
}

/* header styling */

header nav ul li {
	padding: 10px 14px 10px 10px;
	border-right: 2px solid #8290B9;
	display: inline-block;
}

header nav ul li:last-child { border-right: none; }

header nav ul li a {
	color: #fff;
	font-size: 23px;
	font-weight: 100;
}

header nav ul li a:hover { color: #000; }

nav { float: left; }

.logout { float: right; }

.logout,
a.back {
	color: #fff;
	padding: 5px;
	border: 2px solid #8290B9;
	border-radius: 5px;
	margin: 5px 5px 0;
	background-color: #8290B9;
	font-size: 23px;
	font-weight: 700;
}

.header-content {
	margin-top: 20px;
	border-top: 2px solid #8290B9;
}

/* Create User */

.style a {
	padding: 8px;
	border: 1px solid #8290B9;
	border-radius: 10px;
	background-color: #435897;
	color: #000;
	font-size: 23px;
	font-weight: 700;
	text-transform: uppercase;

}

.style a:hover { color:#fff; }

.wrap-table {
	width: 100%;
	margin: 20px auto;
}

table {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	width: 100%;
	border: 1px solid #000;
	border-radius: 5px;
	border-spacing: 0;
	margin-top: 20px;
	background-color: #435897;
	text-align: center;
}

thead {
	color: #fff;
	font-size: 18px;
	font-weight: 100;
	text-transform: uppercase;
}

table td,
table th {
	padding:5px;
	border-right: 1px solid #000;
}

table th,td { border-bottom: 1px solid #000; }

tbody tr:last-child td { border-bottom: none; }

tbody td:last-child { border-right: none; }

thead th:last-child { border-right: none; }

table th { vertical-align: middle; }

tbody td {
	color: #000;
	font-size: 18px;
	font-weight: 100;
}

.edit,
input[value="Delete"] {
	color: #fff;
	padding: 5px;
	border: 2px solid #8290B9;
	border-radius: 5px;
	margin: 5px 5px 0;
	background-color: #8290B9;
	font-size: 18px;
	font-weight: 100;
}

/* create user */

.form-group label { float: left; }

.form-group
select, input[type="date"] {
	float: right;
	font-size: 16px;
	font-weight: 100;
}

.form-group span {
	padding: 10px;
	font-size: 23px;
	font-weight: 700;
	color: #fff;
}

.tab_contents_container > div { display: none; }

.tab_contents_container .tab_contents_active { display: block; }

.project-resource-details .project-wrapper,
.resource-project-details .resource-wrapper {
	padding: 10px;
	border: 1px solid #000;
  margin: 10px 0;
}

.project-resource-details .project-wrapper .project-details,
.resource-project-details .resource-wrapper .resource-project-wrapper { display: none; }

.project-resource-details .hours-utilization-bar,
.resource-project-details .hours-utilization-bar {
	width: 80%;
	height: 20px;
	border: 1px solid #000;
}

.project-resource-details .hours-utilization-bar span,
.resource-project-details .hours-utilization-bar span {
	height: 20px;
	float: left;
}

.project-resource-details .hours-utilization-bar .dev,
.resource-project-details .hours-utilization-bar .resource { background-color: orange; }

.project-resource-details .hours-utilization-bar .qa { background-color: pink; }

.project-resource-details .hours-utilization-bar .pm { background-color: green; }

.project-resource-details .hours-utilization-bar .design { background-color: yellow; }
